In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('data/nfl_team_stats_2002-2023.csv')
df1 = df.copy()

In [66]:
df.head()

,season,week,date,away,home,score_away,score_home,first_downs_away,first_downs_home,third_down_comp_away,...,redzone_comp_home,redzone_att_home,fumbles_away,fumbles_home,interceptions_away,interceptions_home,def_st_td_away,def_st_td_home,possession_away,possession_home
0,2002,1,2002-09-05,49ers,Giants,16,13,13,21,4,...,0,6,0,0,1,3,0,0,27:32,32:28
1,2002,1,2002-09-08,Jets,Bills,37,31,18,26,2,...,0,8,1,1,0,2,2,0,21:06,39:08
2,2002,1,2002-09-08,Vikings,Bears,23,27,19,20,5,...,0,6,1,1,2,1,0,0,31:31,28:29
3,2002,1,2002-09-08,Chargers,Bengals,34,6,27,13,6,...,0,5,0,0,0,1,0,0,37:48,22:12
4,2002,1,2002-09-08,Chiefs,Browns,40,39,24,24,5,...,0,10,0,1,1,0,0,0,30:16,29:44

#### Check for any missing data

In [67]:
df.isna().sum()

season                   0
week                     0
date                     0
away                     0
home                     0
score_away               0
score_home               0
first_downs_away         0
first_downs_home         0
third_down_comp_away     0
third_down_att_away      0
third_down_comp_home     0
third_down_att_home      0
fourth_down_comp_away    0
fourth_down_att_away     0
fourth_down_comp_home    0
fourth_down_att_home     0
plays_away               0
plays_home               0
drives_away              0
drives_home              0
yards_away               0
yards_home               0
pass_comp_away           0
pass_att_away            0
pass_yards_away          0
pass_comp_home           0
pass_att_home            0
pass_yards_home          0
sacks_num_away           0
sacks_yards_away         0
sacks_num_home           0
sacks_yards_home         0
rush_att_away            0
rush_yards_away          0
rush_att_home            0
rush_yards_home          0
pen_num_away             0
pen_yards_away           0
pen_num_home             0
pen_yards_home           0
redzone_comp_away        0
redzone_att_away         0
redzone_comp_home        0
redzone_att_home         0
fumbles_away             0
fumbles_home             0
interceptions_away       0
interceptions_home       0
def_st_td_away           0
def_st_td_home           0
possession_away          0
possession_home          0
dtype: int64

- Check for any duplicated data

In [68]:
df.duplicated().sum()

0

- Row and columns

In [69]:
df.shape

(5929, 53)

- Combine score away and home to create a winner column

In [70]:
df['winner'] = (df['score_home'] > df['score_away']).astype(int)

In [71]:
df['winner'].dtype

dtype('int64')

- Create a column for 4th down completion %

In [74]:
df['fourth_down__away'] = (df1['fourth_down_comp_away'] / df['fourth_down_att_away']) * 100
# Handle NaN values (if any) and convert to integers
df['fourth_down__away'] = np.nan_to_num(df['fourth_down__away'], nan=0).astype(int)

In [75]:
df['fourth_down__away'].dtype

dtype('int64')

In [76]:
df['fourth_down__home'] = (df['fourth_down_comp_home'] / df['fourth_down_att_home']) * 100
df['fourth_down__home'] = np.nan_to_num(df['fourth_down__home'], nan=0).astype(int)

In [77]:
df['fourth_down__home'].dtype

dtype('int64')

- Create a column for 3rd down completion %

In [78]:
df['third_down_away'] = (df['third_down_comp_away'] / df['third_down_att_away']) * 100
df['third_down_away'] = np.nan_to_num(df['third_down_away'], nan=0).astype(int)

In [79]:
df['third_down_away'].dtype

dtype('int64')

In [80]:
df['third_down_home'] = (df['third_down_comp_home'] / df['third_down_att_home']) * 100
df['third_down_home'] = np.nan_to_num(df['third_down_home'], nan=0).astype(int)

In [81]:
df['third_down_home'].dtype

dtype('int64')

- Convert pass completion %

In [82]:
df['pass_percentage_away'] = (df['pass_comp_away'] / df['pass_att_away']) * 100
df['pass_percentage_away'] = np.nan_to_num(df['pass_percentage_away'], nan=0).astype(int)

In [83]:
df['pass_percentage_home'] = (df['pass_comp_home'] / df['pass_att_home']) * 100
df['pass_percentage_home'] = np.nan_to_num(df['pass_percentage_home'], nan=0).astype(int)

In [84]:
df['pass_percentage_home'].dtype

dtype('int64')

In [87]:
df['pass_percentage_home'].isna().sum()

0

- Drop pass comp & att columns now that we converted to a %

In [103]:
# df.drop(columns=['pass_comp_away', 'pass_att_away', 'pass_comp_home', 'pass_att_home'], axis=1)

- Convert red zone to %

In [91]:
df['redzone_percentage_home'] = (df['redzone_comp_home'] / df['redzone_att_home']) * 100
df['redzone_percentage_home'] = np.nan_to_num(df['redzone_percentage_home'], nan=0).astype(int)

In [92]:
df['redzone_percentage_home'].dtype

dtype('int64')

In [93]:
df['redzone_percentage_home'].isna().sum()

0

In [94]:
df['redzone_percentage_away'] = (df['redzone_comp_away'] / df['redzone_att_away']) * 100
df['redzone_percentage_away'] = np.nan_to_num(df['redzone_percentage_away'], nan=0).astype(int)

In [95]:
df['redzone_percentage_away'].dtype

dtype('int64')

In [96]:
df['redzone_percentage_away'].isna().sum()

0

- Drop red zone columns that I replaced with %

In [97]:
df.drop(columns=['redzone_comp_away', 'redzone_att_away','redzone_comp_home','redzone_att_home'], inplace=True)

- Drop special teams columns

In [99]:
df.drop(columns=['def_st_td_away','def_st_td_home'], inplace=True)

In [104]:
df.drop(columns=['fourth_down_comp_home','fourth_down_att_home','fourth_down_att_away','fourth_down_comp_away'], inplace=True)

In [107]:
df['score_home'].dtype

dtype('int64')

- Convert rush yards to an average

In [114]:
df['rush_avg_away'] = (df['rush_yards_away'] / df['rush_att_away']) * 100
df['rush_avg_away'] = np.nan_to_num(df['rush_avg_away'], nan=0).astype(int)

In [117]:
df['rush_avg_home'] = (df['rush_yards_home'] / df['rush_att_home']) * 100
df['rush_avg_home'] = np.nan_to_num(df['rush_avg_home'], nan=0).astype(int)

In [122]:
df.drop(columns=['third_down_comp_away','third_down_att_away', 'third_down_comp_home','third_down_att_home'], inplace=True)

In [124]:
df.drop(columns=['drives_away','drives_home'], inplace=True)

In [126]:
df.drop(columns=['rush_att_away','rush_yards_away','rush_att_home','rush_yards_home'], inplace=True)

In [140]:
df.drop(columns=['pen_avg_away'], inplace=True)

- Remove Wildcard , Division , Conference, Superbowl

In [149]:
# Values to remove
values_to_remove = ['Wildcard', 'Division', 'Conference', 'Superbowl']
# Create a new column 'week_cleaned' with the filtered values
df['week_cleaned'] = df['week'].apply(lambda x: x if x not in values_to_remove else np.nan)

In [151]:
# Convert 'week_cleaned' to numeric, coercing errors and replacing NaN with a specific value (e.g., 0)
df['week_cleaned'] = pd.to_numeric(df['week_cleaned'], errors='coerce').fillna(0).astype(int)

In [152]:
df['week_cleaned'].dtype

dtype('int64')

In [ ]:
# Define features and target variable
X = df[[]]
y = df['winner']

In [153]:
df.columns

Index(['season', 'week', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'plays_away', 'plays_home',
       'yards_away', 'yards_home', 'pass_yards_away', 'pass_yards_home',
       'sacks_num_away', 'sacks_yards_away', 'sacks_num_home',
       'sacks_yards_home', 'pen_num_away', 'pen_yards_away', 'pen_num_home',
       'pen_yards_home', 'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned'],
      dtype='object')

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5929 entries, 0 to 5928
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   5929 non-null   int64
 1   week                     5929 non-null   object
 2   date                     5929 non-null   object
 3   away                     5929 non-null   object
 4   home                     5929 non-null   object
 5   score_away               5929 non-null   int64
 6   score_home               5929 non-null   int64
 7   first_downs_away         5929 non-null   int64
 8   first_downs_home         5929 non-null   int64
 9   plays_away               5929 non-null   int64
 10  plays_home               5929 non-null   int64
 11  yards_away               5929 non-null   int64
 12  yards_home               5929 non-null   int64
 13  pass_yards_away          5929 non-null   int64
 14  pass_yards_home          5929 non-null   int64
 15  sacks_num_away           5929 non-null   int64
 16  sacks_yards_away         5929 non-null   int64
 17  sacks_num_home           5929 non-null   int64
 18  sacks_yards_home         5929 non-null   int64
 19  pen_num_away             5929 non-null   int64
 20  pen_yards_away           5929 non-null   int64
 21  pen_num_home             5929 non-null   int64
 22  pen_yards_home           5929 non-null   int64
 23  fumbles_away             5929 non-null   int64
 24  fumbles_home             5929 non-null   int64
 25  interceptions_away       5929 non-null   int64
 26  interceptions_home       5929 non-null   int64
 27  possession_away          5929 non-null   object
 28  possession_home          5929 non-null   object
 29  winner                   5929 non-null   int64
 30  fourth_down__away        5929 non-null   int64
 31  fourth_down__home        5929 non-null   int64
 32  third_down_away          5929 non-null   int64
 33  third_down_home          5929 non-null   int64
 34  pass_percentage_away     5929 non-null   int64
 35  pass_percentage_home     5929 non-null   int64
 36  redzone_percentage_home  5929 non-null   int64
 37  redzone_percentage_away  5929 non-null   int64
 38  rush_avg_away            5929 non-null   int64
 39  rush_avg_home            5929 non-null   int64
 40  week_cleaned             5929 non-null   int64
dtypes: int64(35), object(6)
memory usage: 1.9+ MB

In [157]:
df.columns

Index(['season', 'week', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'plays_away', 'plays_home',
       'yards_away', 'yards_home', 'pass_yards_away', 'pass_yards_home',
       'sacks_num_away', 'sacks_yards_away', 'sacks_num_home',
       'sacks_yards_home', 'pen_num_away', 'pen_yards_away', 'pen_num_home',
       'pen_yards_home', 'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned'],
      dtype='object')

In [158]:
df['week_cleaned'].dtype

dtype('int64')

In [162]:
df.drop(columns=['week'], inplace=True)

In [163]:
df.columns

Index(['season', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'plays_away', 'plays_home',
       'yards_away', 'yards_home', 'pass_yards_away', 'pass_yards_home',
       'sacks_num_away', 'sacks_yards_away', 'sacks_num_home',
       'sacks_yards_home', 'pen_num_away', 'pen_yards_away', 'pen_num_home',
       'pen_yards_home', 'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned'],
      dtype='object')

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5929 entries, 0 to 5928
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   5929 non-null   int64
 1   date                     5929 non-null   object
 2   away                     5929 non-null   object
 3   home                     5929 non-null   object
 4   score_away               5929 non-null   int64
 5   score_home               5929 non-null   int64
 6   first_downs_away         5929 non-null   int64
 7   first_downs_home         5929 non-null   int64
 8   plays_away               5929 non-null   int64
 9   plays_home               5929 non-null   int64
 10  yards_away               5929 non-null   int64
 11  yards_home               5929 non-null   int64
 12  pass_yards_away          5929 non-null   int64
 13  pass_yards_home          5929 non-null   int64
 14  sacks_num_away           5929 non-null   int64
 15  sacks_yards_away         5929 non-null   int64
 16  sacks_num_home           5929 non-null   int64
 17  sacks_yards_home         5929 non-null   int64
 18  pen_num_away             5929 non-null   int64
 19  pen_yards_away           5929 non-null   int64
 20  pen_num_home             5929 non-null   int64
 21  pen_yards_home           5929 non-null   int64
 22  fumbles_away             5929 non-null   int64
 23  fumbles_home             5929 non-null   int64
 24  interceptions_away       5929 non-null   int64
 25  interceptions_home       5929 non-null   int64
 26  possession_away          5929 non-null   object
 27  possession_home          5929 non-null   object
 28  winner                   5929 non-null   int64
 29  fourth_down__away        5929 non-null   int64
 30  fourth_down__home        5929 non-null   int64
 31  third_down_away          5929 non-null   int64
 32  third_down_home          5929 non-null   int64
 33  pass_percentage_away     5929 non-null   int64
 34  pass_percentage_home     5929 non-null   int64
 35  redzone_percentage_home  5929 non-null   int64
 36  redzone_percentage_away  5929 non-null   int64
 37  rush_avg_away            5929 non-null   int64
 38  rush_avg_home            5929 non-null   int64
 39  week_cleaned             5929 non-null   int64
dtypes: int64(35), object(5)
memory usage: 1.8+ MB

- Convert Date column and season column

In [165]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [166]:
# Calculate the difference in days from the first date
day_diff = (df['date'] - df['date'].iloc[0]).dt.days

# Identify when the gap between consecutive dates is greater than 30 days
season_change = day_diff.diff().fillna(0) > 30

# Assign seasons based on date gaps
df['season'] = 2002 + season_change.cumsum().astype(int)

In [169]:
df.head()

,season,date,away,home,score_away,score_home,first_downs_away,first_downs_home,plays_away,plays_home,...,fourth_down__home,third_down_away,third_down_home,pass_percentage_away,pass_percentage_home,redzone_percentage_home,redzone_percentage_away,rush_avg_away,rush_avg_home,week_cleaned
0,2002,2002-09-05,49ers,Giants,16,13,13,21,51,70,...,0,33,56,61,62,0,0,451,195,1
1,2002,2002-09-08,Jets,Bills,37,31,18,26,47,75,...,100,25,41,80,66,0,0,521,443,1
2,2002,2002-09-08,Vikings,Bears,23,27,19,20,62,60,...,0,38,53,57,60,0,0,424,307,1
3,2002,2002-09-08,Chargers,Bengals,34,6,27,13,65,48,...,0,60,36,78,58,0,0,535,276,1
4,2002,2002-09-08,Chiefs,Browns,40,39,24,24,59,61,...,0,45,36,68,70,0,0,646,295,1

In [170]:
df['season'].dtype

dtype('int64')

In [172]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek  
df['week_of_year'] = df['date'].dt.isocalendar().week

In [173]:
df.columns

Index(['season', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'plays_away', 'plays_home',
       'yards_away', 'yards_home', 'pass_yards_away', 'pass_yards_home',
       'sacks_num_away', 'sacks_yards_away', 'sacks_num_home',
       'sacks_yards_home', 'pen_num_away', 'pen_yards_away', 'pen_num_home',
       'pen_yards_home', 'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned', 'year', 'month', 'day', 'day_of_week',
       'week_of_year'],
      dtype='object')

In [174]:
df['year'].dtype

dtype('int32')

In [175]:
df.head()

,season,date,away,home,score_away,score_home,first_downs_away,first_downs_home,plays_away,plays_home,...,redzone_percentage_home,redzone_percentage_away,rush_avg_away,rush_avg_home,week_cleaned,year,month,day,day_of_week,week_of_year
0,2002,2002-09-05,49ers,Giants,16,13,13,21,51,70,...,0,0,451,195,1,2002,9,5,3,36
1,2002,2002-09-08,Jets,Bills,37,31,18,26,47,75,...,0,0,521,443,1,2002,9,8,6,36
2,2002,2002-09-08,Vikings,Bears,23,27,19,20,62,60,...,0,0,424,307,1,2002,9,8,6,36
3,2002,2002-09-08,Chargers,Bengals,34,6,27,13,65,48,...,0,0,535,276,1,2002,9,8,6,36
4,2002,2002-09-08,Chiefs,Browns,40,39,24,24,59,61,...,0,0,646,295,1,2002,9,8,6,36

In [176]:
df.drop(columns=['date'], inplace=True)

In [177]:
df.columns

Index(['season', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'plays_away', 'plays_home',
       'yards_away', 'yards_home', 'pass_yards_away', 'pass_yards_home',
       'sacks_num_away', 'sacks_yards_away', 'sacks_num_home',
       'sacks_yards_home', 'pen_num_away', 'pen_yards_away', 'pen_num_home',
       'pen_yards_home', 'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned', 'year', 'month', 'day', 'day_of_week',
       'week_of_year'],
      dtype='object')

In [178]:
df.head()

,season,away,home,score_away,score_home,first_downs_away,first_downs_home,plays_away,plays_home,yards_away,...,redzone_percentage_home,redzone_percentage_away,rush_avg_away,rush_avg_home,week_cleaned,year,month,day,day_of_week,week_of_year
0,2002,49ers,Giants,16,13,13,21,51,70,279,...,0,0,451,195,1,2002,9,5,3,36
1,2002,Jets,Bills,37,31,18,26,47,75,266,...,0,0,521,443,1,2002,9,8,6,36
2,2002,Vikings,Bears,23,27,19,20,62,60,368,...,0,0,424,307,1,2002,9,8,6,36
3,2002,Chargers,Bengals,34,6,27,13,65,48,401,...,0,0,535,276,1,2002,9,8,6,36
4,2002,Chiefs,Browns,40,39,24,24,59,61,470,...,0,0,646,295,1,2002,9,8,6,36

In [180]:
df.columns

Index(['season', 'score_away', 'score_home', 'first_downs_away',
       'first_downs_home', 'plays_away', 'plays_home', 'yards_away',
       'yards_home', 'pass_yards_away', 'pass_yards_home', 'sacks_num_away',
       'sacks_yards_away', 'sacks_num_home', 'sacks_yards_home',
       'pen_num_away', 'pen_yards_away', 'pen_num_home', 'pen_yards_home',
       'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'possession_away', 'possession_home', 'winner',
       'fourth_down__away', 'fourth_down__home', 'third_down_away',
       'third_down_home', 'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned', 'year', 'month', 'day', 'day_of_week',
       'week_of_year', 'home_encoded', 'away_encoded'],
      dtype='object')

In [184]:
df['possession_away'].dtype

dtype('O')

#### Machine Learning Model

In [179]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_away = LabelEncoder()
le_home = LabelEncoder()

df['home_encoded'] = le_home.fit_transform(df['home'])
df['away_encoded'] = le_away.fit_transform(df['away'])

# Drop original categorical columns if not needed
df = df.drop(columns=['home', 'away'])

In [185]:
df.drop(columns=['possession_away', 'possession_home'], inplace=True)

In [186]:
df.columns

Index(['season', 'score_away', 'score_home', 'first_downs_away',
       'first_downs_home', 'plays_away', 'plays_home', 'yards_away',
       'yards_home', 'pass_yards_away', 'pass_yards_home', 'sacks_num_away',
       'sacks_yards_away', 'sacks_num_home', 'sacks_yards_home',
       'pen_num_away', 'pen_yards_away', 'pen_num_home', 'pen_yards_home',
       'fumbles_away', 'fumbles_home', 'interceptions_away',
       'interceptions_home', 'winner', 'fourth_down__away',
       'fourth_down__home', 'third_down_away', 'third_down_home',
       'pass_percentage_away', 'pass_percentage_home',
       'redzone_percentage_home', 'redzone_percentage_away', 'rush_avg_away',
       'rush_avg_home', 'week_cleaned', 'year', 'month', 'day', 'day_of_week',
       'week_of_year', 'home_encoded', 'away_encoded'],
      dtype='object')

- Create a turnover column combining fumbles and interceptions

In [205]:
# Creating the 'turnovers_home' and 'turnovers_away' columns
df['turnovers_home'] = df['fumbles_home'] + df['interceptions_home']
df['turnovers_away'] = df['fumbles_away'] + df['interceptions_away']

# Converting to integers
df['turnovers_home'] = df['turnovers_home'].astype(int)
df['turnovers_away'] = df['turnovers_away'].astype(int)

# Display the updated DataFrame
print(df[['turnovers_home', 'turnovers_away']].head())

   turnovers_home  turnovers_away
0               3               1
1               3               1
2               2               3
3               1               0
4               1               1

In [231]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import joblib  # For saving the model
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report 

new_features = [
    'season', 
    'yards_away',
    'yards_home',
    'pass_yards_away',
    'pass_yards_home',
    'turnovers_away',
    'turnovers_home',
    'third_down_away',
    'third_down_home',
    'fourth_down__home',
    'fourth_down__away',
    'pass_percentage_away',
    'pass_percentage_home',
    'rush_avg_away',
    'rush_avg_home',
    'week_cleaned',
    'home_encoded',
    'away_encoded'
]

target = 'winner'

X = df[new_features]
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

Accuracy: 0.84
Confusion Matrix:
[[628 149]
 [143 859]]
Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.81      0.81       777
           1       0.85      0.86      0.85      1002

    accuracy                           0.84      1779
   macro avg       0.83      0.83      0.83      1779
weighted avg       0.84      0.84      0.84      1779

In [232]:
joblib.dump(model, 'random_forest_model.pkl')

['random_forest_model.pkl']